{% extends "common_templates/catalog.html" %} 
{% load i18n %}



{% load catalog_filters %}

{% block content %}
<table summary="Your Shopping Cart" id="shopping_cart" class="table  table-hover span8">
		<caption><h2>{% trans "Your Shopping Cart"%} </h2></caption>
		<thead>
			<tr>
				<th scope="col">Product</th>
				<th scope="col">Price</th>
				<th></th>
				<th></th>
				<th></th>
				<th scope="col" class="right">Total</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th class="right" colspan="5">
					{% trans "Cart Subtotal"%}:
				</th>
				<th class="right text-success">
					<p class="font_19px">{{ cart_subtotal|currency }}</p>
				</th>
			</tr>
			{% if cart_items %}
			<tr>
				<th class="right" colspan="6">
					<form method="POST" action=".">
    					<input type="hidden" name="submit" value="Checkout" />
    					
              
              		<button type="submit" class="btn btn-success pull-right" alt="Checkout">
                        <i class="icon-ok icon-white"> </i>{% trans "Checkout" %}
                    </button>
    				</form>
				</th>
			</tr>
			{% endif %}
		</tfoot>
		<tbody>
		{% if cart_items %}
			{% for item in cart_items %}
				<tr>
					<td>
						<a href="{{ item.get_absolute_url }}" class="cart">
							{{ item.name }}
						</a>
					</td>
					<td class="text-warning muted">{{ item.price|currency }}</td>
					<td class="right">
						<form id="update_cart" method="post" action="." class="cart">
                            {% csrf_token %}
							<input class="font_14px input-mini" type="text" name="quantity" value="{{ item.quantity }}" id="quantity" size="2" class="quantity" maxlength="5" />
							<input type="hidden" name="item_id" value="{{ item.id }}" />
					</td>
					<td>
						<input type="hidden" name="submit" value="Update" />
                        <button form="update_cart" formaction="." formmethod="post" formtarget="_self" type="submit" class="btn btn-info"  value="">
                                <i class="icon-refresh"></i>
                            </button>
						</form>
					</td>
					<td>
						<form id="remove_from_cart"  class="cart">
							<input type="hidden" name="item_id" value="{{ item.id }}" />
							<input type="hidden" name="submit" value="Remove"/>
                            <button form="remove_from_cart" formaction="." formmethod="post" formtarget="_self" type="submit" class="btn btn-warning"  value="">
                                <i class="icon-remove"></i>
                            </button>
						</form>
					</td>
					<td class="right text-success">{{ item.total|currency }}</td>
				</tr>
			{% endfor %}
		{% else %}
		      <tr>
					<td colspan="6" style="height:30px;">
						Your cart is empty.
					</td>
				</tr>
		{% endif %}
		</tbody>
	</table>
	<br /><br />
	
{% endblock %}
        