{% load i18n %}



<a href="" class="dropdown-toggle" data-toggle="dropdown">
    {% trans "Categories" %} 
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
{% with category_structure_list as struct_list %}
    
    {% for item in struct_list %}
        {% if item.action == "open_nested_menu" %}
           
            <li class="dropdown-submenu">
                <a href="{% url catalog_category slug=item.object.slug %}" tabindex="-1">  
                {{ item.object.name }}
                </a>           
                 <ul class="dropdown-menu">   
            
        {% elif item.action == "close_nested_menu" %}
                </ul>    
            </li>
        
        {% else %}
            <li class="">
                {% ifequal item.object.get_absolute_url request_path %}
                    {{ item.object.name }}
                {% else %}
                    <a href="{% url catalog_category slug=item.object.slug %}" tabindex="-1">
                        {{ item.object.name }}
                    </a>
                {% endifequal %}
            </li>
            
        {% endif %}
    {% endfor %}
{% endwith %}   
</ul>
