{% load i18n %}

<ul class="inline">
        
    <li>
        {% if user.is_authenticated %}
            <a id="logout" class='auth'  href="{% url accounts_log_out %}">
                {% trans "Logout"%}
            </a>
        {% else %}
            <a class='auth' href="{% url register %}">
                {% trans "SignUp"%}
            </a>
            </li>
            <li id="authbox_login_container">
            <a id="login" 
               class='auth'
               rel="popover"
               data-title="{% trans 'Please login.'%}"
               href="#{#{% url accounts_log_in %}?next={{request.path}}#}">
                {% trans "Login"%}
            </a>
        {% endif %}
    </li>
        
</ul>

<div id="popover_content_wrapper" style="display: none">
    {% include "registration/login_form.html" %}
</div>