{% load i18n %}
{% if form.errors %}
<ul class="errorlist">
    <li> {% trans "You entered an invalid username or password" %}</li>
</ul>
<br />
{% endif %}
<form id="login_form" class="form-horisontal" method="post" action="{% url accounts_log_in %}">
    {% csrf_token %}
    <table summary="{% trans 'Login' %}" id="login">
        {% if not form %}
            <tr>
               <th>
                   <label for="id_username" >Username:</label>
               </th>
               <td>
                   <input id="id_username"  class="input-medium" type="text" name="username" maxlength="30" />
               </td>
           <tr>
               <th>
                   <label for="id_password" >{% trans "Password:"%}</label>
                </th>
                <td>
                   <input type="password" class="input-medium"  name="password" id="id_password" />
                </td>
            </tr>
           </tr>
       
        {% else %}
            {{ form.as_table }}
        {% endif %}
        
        <tr>
        	<th>
                <input id="submit_login" class="btn btn-info" type="submit" value="{% trans 'Login' %}"/>
            </th>
        </tr>
        
        
    </table>
    <input type="hidden" name="next" value={{ next }} />
    
</form>