<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
         <!-- <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css/css.css" /> -->
        <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css/jquery-ui-1.10.3.custom.css" />
        <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" />
        <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" />
        <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css/custom.css" />
        <link rel="SHORTCUT ICON" href="{{ STATIC_URL }}images/favicon.ico" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <title>
            {% block title %}
                {% if page_title %}{{ page_title }} - {% endif %}{{ site_name }}
            {% endblock %}
        </title>
        <meta name="keywords" content="{{ meta_keywords }}" />
        <meta name="description" content="{{ meta_description }}" />
        <meta name="verify-v1" content="bPjaC6MIttNNSgZfZXROVZ4RPbKJkyv7rAM2sOuUWk0=" />	
    </head>
    <body>
        {% block site_wrapper %}{% endblock %}
        {% block js %}
            
            <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
            <script type="text/javascript"src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
            <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
            
        {% endblock %}

        {% comment %}
        {% include 'marketing/google_analytics.html' %}
        {% block receipt_analytics %}{% endblock %}
        {% endcomment %}
    </body>
</html>
