{% extends "common_templates/base.html" %} 

{% load i18n %}
{% load catalog_tags %}
{% load search_tags %} 

{% block js %}
{{ block.super }}
{% endblock %}

{% block site_wrapper %}
<div class="container">
	
    
	<a href="#content" class="skip_link hidden">Skip to main content</a>
	<noscript>
		<div id="noscript">
            {% trans "Some parts of" %} 
            {{ site_name }} 
            {% trans "require JavaScript" %} 
        </div>
		<div id="noscript_padder"></div>
    </noscript>
	
    
	<div class="navbar navbar-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a href="{% url catalog_home %}" class="brand">{{ site_name|capfirst }}</a>
                {% include 'tags/navigation.html' %}
                              
                
                
                <!--  ////////////////////////////////////////////////////////////-->
                <div class="tabbable">
                    <ul class="nav nav-tabs ">
                        <li class="active"><a href="#tab1" data-toggle="tab">Link 1</a></li>
                        <li><a href="#tab2" data-toggle="tab">Link 2</a></li>
                        <li><a href="#tab3" data-toggle="tab">Link 3</a></li>
                        <li><a href="#tab4" data-toggle="tab">Link 4</a></li>
                        <li class="dropdown" >
                            {% category_list request.path %}
                        </li>
                    </ul>
                
                </div> 
            </div>
        </div>
            
            
            
            
        
    </div>
    
    <div class="container">
        <div id="navigation">
            <div class="navIEPadder">
                
            </div>
            
            <div id="middle">
                
                <div id="content">
                    <a name="content"></a>
                    <div class="contentIEPadder">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div id="footer">
                <div class="footerIEPadder">
                    {% footer_links %}
                    <div class="cb"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}
</div>