{% extends "common_templates/base.html" %} 

{% load i18n %}
{% load catalog_tags %}
{% load search_tags %} 

{% block js %}
{{ block.super }}
{% endblock %}

{% block site_wrapper %}
<div class="container">
	
    
	<a href="#content" class="skip_link hidden">Skip to main content</a>
	<noscript>
		<div id="noscript">
            {% trans "Some parts of" %} 
            {{ site_name }} 
            {% trans "require JavaScript" %} 
        </div>
		<div id="noscript_padder"></div>
    </noscript>
	
    
	<div class="navbar navbar-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a href="{% url catalog_home %}" class="brand">{{ site_name|capfirst }}</a>
                {% include 'tags/navigation.html' %}
                <ul class="inline">
                    <li class="span5">
                        <div class="tabbable">
                            <ul class="nav ">
                                <li class="dropdown" >
                                    {% category_list request.path %}
                                </li>
                                <li class="active"><a href="{% url catalog_home %}" >{% trans "Catalog" %}</a></li>
                                <li><a href="{% url index %}" >{% trans "Ask question" %}</a></li>
                                
                                
                            </ul>
                        </div> 
                    </li>
                    <li class="span3">
                        {% include "tags/search_box.html" %}
                    </li>
                    <li class="span1">
                        <div class="span1 pull-right">
                            {% cart_box request %}
                        </div>
                    </li>  
                </ul>
            </div>
        </div>    
    </div>
    
    
    
        
            
    <div id="middle">
        <div id="content">
            <a name="content"></a>
                {% block content %}{% endblock %}
        </div>
    </div>
            
        
</div>    
{% endblock %}
