{% extends "common_templates/catalog.html" %}

{% load i18n %}
{% load catalog_tags %}

{% block content %}
    <div class="well">
        <ul class="inline">
        	<li>
                <h2>{{ page_title }}</h2>
                <p>
                    {{ category.description }}
                </p>
            </li>
        	<li>
                <img src="{{ category.banner.url }}" alt="" class="pull-right" />
            </li>
        </ul>
        
        
    </div>
    <br /><br />
    
    <div class="well">
        <ul class="thumbnails">
        {% for child_category in child_categories %}
            <li class="span3">
                <div class="thumbnail">
                    <img src="{{child_category.thumbnail_url}}" alt="{{ child_category.name }}" />
                    <h4>
                        {{ child_category.name }}
                    </h4>
                </div>
            </li>
        {% endfor%}
        </ul>
    </div>
    <div>
    	<hr />
    </div>
    <div id="filters" class="span2 well pull-left">
        <h3>{% trans "Filters" %}</h3>
        <ul>
            {% for filter_group in filter_groups %}
            <li>
                <h5>{{ filter_group.name }}</h5>
                <ul>
                    {% for filter in filter_group.filters %}
                    
                    <li>
                        <label for="" class="checkbox">
                            <input class="filter-checkbox" type="checkbox" data-filter="{{ filter }}"/>
                            {{ filter }}
                        </label>
                    </li>
                    {% endfor %}
                </ul>
            </li>   
            {% endfor %}
        </ul>
    </div>
    <div id="products" class="span9">{% product_list products '' %}</div>
    
{% endblock %}

{% block js %}
    {{block.super}}
    <script type="text/javascript">
        function ajaxFilter(event) {
            event.preventDefault();
            var checkbox = $(event.target);
            var checked_attr = checkbox.attr("checked");
            if (typeof checked_attr !== 'undefined' && checked_attr !== false) {
                checkbox.removeAttr("checked");
            }
            else {
                checkbox.attr("checked", "checked");
            }
            var filters = [];
            $(".filter-checkbox").each(function(){
                var elem = $(this);
                var checked = elem.attr("checked");
                if(typeof checked !== 'undefined' && checked !== false){
                    filters.push(elem.attr("data-filter"));
                }
            })
            var request_data = {
                'filters': filters.toString() ,
                //'product_ids': product_ids.toString()
                'product_ids': "{{ product_ids }}"
            }
            console.log(request_data);
            checkbox.attr("disabled", "disabled");
            $.ajax({
                url : "{% url catalog_filter_products %}",
                type : 'GET',
                data : request_data,
                dataType : 'json',
                success : filterSuccess,
                error : function (xhr, textStatus, errorThrown) {
                    //log ajax errors
                    console.log("There was an error processing ajax request: \n" +
                        "\t -the text status is: ' " + textStatus + "'\n" +
                        "\t -the error thrown is:' " + String(errorThrown) + "'" +
                        "\t -the data sent  is: ' " + this.data + "'" +
                        "\t -the method is: ' " + this.type + "'");
                }
            });
            checkbox.removeAttr("disabled");
            
        }
        
        function filterSuccess(json_response) {
            
            if (json_response.success == "True") {

                // Get rid of the existing auth links
                $("#products").empty();
                // renew the contents of tagbox
                $("#products").prepend(json_response.html);

            } else {
                //add the error text to the errors div
                $("#products").append(json_response.html);
            }
        }
        
        
        $(document).ready(
            $("input:checkbox").on('change', function (event) {
                ajaxFilter(event)
            })
        );
    </script>
{% endblock %}
