{% extends "common_templates/catalog.html" %}
{% load i18n %}


{% load catalog_tags %}

{% block content %}
<!-- Category tabs -->
<div class="container">
    <ul class="nav nav-list span2">
        <li class="nav-header">Header 1</li>
        <li class="active"><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
        <li class="nav-header">Header 2</li>
        <li class="disabled"><a href="">Link 3</a></li>
        <li><a href="">Link 4</a></li>
        <li class="divider"></li>
        <li>
            <a href="">Link 5</a>
            <ul class="nav nav-list">
                <li><a href="">Sublink 1</a></li>
                <li><a href="">Sublink 1</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav nav-list span2">
        <li class="nav-header">Header 1</li>
        <li class="active"><a href="">Link 1</a></li>
        <li><a href="">Link 2</a></li>
        <li class="nav-header">Header 2</li>
        <li class="disabled"><a href="">Link 3</a></li>
        <li><a href="">Link 4</a></li>
        <li class="divider"></li>
        <li>
            <a href="">Link 5</a>
            <ul class="nav nav-list">
                <li><a href="">Sublink 1</a></li>
                <li><a href="">Sublink 1</a></li>
            </ul>
        </li>
    </ul>
    
    <!-- Discounts carousel -->
    
    <div class="span7 pull-right">
        <div class="carousel slide" id="discounts-carousel">
            <ol class="carousel-indicators">
                <li data-target="#discounts-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#discounts-carousel" data-slide-to="1"></li>
                <li data-target="#discounts-carousell" data-slide-to="2"></li>
                <li data-target="#discounts-carousel" data-slide-to="3"></li>
            </ol>
            
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://lorempixel.com/1170/600" alt="Demo">
                    <div class="carousel-caption">
                        <h4>Some title</h4>
                        <p>Some description.</p>
                    </div>
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1170/600/people" alt="Demo">
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1170/600/city" alt="Demo">
                </div>
                <div class="item">
                    <img src="http://lorempixel.com/1170/600/sports" alt="Demo">
                </div>
            </div>
            
            <a href="#discounts-carousel" class="carousel-control left" data-slide="prev">‹</a>
            <a href="#discounts-carousel" class="carousel-control right" data-slide="next">›</a>
        </div>
    </div>
    
</div>
<hr />

<!-- Bestsellers carousel -->

<div class="container">
    <div class="span12 pull-right">
        <div class="carousel slide" id="bestsellers-carousel">
            <ol class="carousel-indicators">
                {% for row in bestsellers %}
                    <li data-target="#bestsellers-carousel" data-slide-to="{{forloop.conunter}}"></li> 
                {% endfor %}
                
            </ol>
                
                
                <div class="carousel-inner">
                    {% for products in bestsellers %}
                    <div class="item active">
                        {% product_list products '' %}
                        
                    </div>
                    
                    {% endfor %}
                </div>
                
                <a href="#bestsellers-carousel" class="carousel-control left" data-slide="prev">‹</a>
                <a href="#bestsellers-carousel" class="carousel-control right" data-slide="next">›</a>
        </div>
    </div>
   
</div>
<div class="row"><hr  class="info"/></div>
 
    
    <!-- Recent, Similiar, Featured, Recommended -->
    
    <ul class="inline">
        <li class="span3">
            {% product_list recently_viewed 'Your Recently Viewed' %}
        </li>
        <li class="span3">
            {% product_list view_recs 'Similar Products' %}
        </li>
        <li class="span3">
            {% product_list featured 'Featured Products' %}
            
        </li>
        <li class="span3">
            {% product_list search_recs 'Recommended For You' %}
        </li>
        
        
        
    </ul>
<hr />
    
<div class="container">
    <p class="info">{{ seo_text }}</p>
</div>    
{% endblock %}