{% extends "common_templates/catalog.html" %}
{% load i18n %}

{% load catalog_filters %}

{% block content %}
<div xmlns:v="http://rdf.data-vocabulary.org/#" about="{{ product.get_absolute_url }}" typeof="v:Product">
    <div class="span12">
        <div class="span5" >
            <img src="{{product.image.url}}" alt="{{product.image_caption}}" />
            {{ product.image_caption }}
        </div>
        
        <div class="span6  vertical-border-left">
        
            
            <h1><span property="v:name">{{ product.name }}</span></h1>
            <ul class="inline pull-right">
                <li><p>{% trans "Brand:"%}</p> </li>
                <li>
                    <p>
                        <em>
                            <span property="v:brand">
                                <a rel="nofollow" href="{{ product.brand.offsite_url }}">
                                    <h4 class="text-warning">{{ product.brand }}</h4>
                                </a>
                            <span>
                        </em>
                    </p>
                </li>
            </ul>
            <a rel="nofollow" href="{{ product.brand.offsite_url }}" class="">
                <img src="{{ product.brand.logo.url }}" alt="" />
            </a>
            
                    
                    
            <br />
            {% trans "SKU:"%} {{ product.sku }}
            <br />
            In categor{{ categories.count|pluralize:"y,ies" }}: 
            {% for c in categories %}
                <a href="{{ c.get_absolute_url }}">
                <span property="v:category">
                    {{ c.name }}
                </span>
                </a>
                {% if not forloop.last %}, {% endif %}
            {% endfor %}
            <br /><br />
            <div class="price">
                {% if product.sale_price %}
                    <p class="text-error muted">{% trans "Was:" %} <del>{{ product.old_price|currency }}</del></p>
                <br />
                <p class="text-warning">{% trans "Now:" %} <span property="v:price">{{ product.price|currency }}</span></p>
                {% else %}
                    <p class="text-success">{% trans "Price:" %} <span property="v:price">{{ product.price|currency }}</span></p>
                {% endif %}
            </div>
            
            <div class="to-cart">
                <form method="post" action="." class="span1 form-inline">
                    <div>{{form.errors}}</div>
                    <div class="input-append ">
                        <label for="id_quantity">
                            {% trans "Quantity:"%}
                        </label>
                        <input name="quantity" id="id_quantity"  class="quantity form-control input-mini" type="text" value="1" size="2" >
                        <input type="hidden" name="slug" value="testproduct3" id="id_slug">
                        <button class="btn btn-info btn-large"type="submit">
                            <i class="icon-shopping-cart"></i>
                        </button>
                    </div>    
                </form>
            </div>
            <br /><br /><br /><br /><br /><br />
            
        </div>
    </div>
</div>
<div class="span12">
    <hr />
</div>
<div class="product-info span7 vertical-border-right">
    <h3>Product Description</h3>
    <span property="v:description">{{ product.description }}</span>        
    <div class="cb"><br /><br /></div>
    <div class="cb"><br /></div>
    <div>
    	<hr />
    </div>
    <h3>Related Products</h3>
    {% for p in product.cross_sells_hybrid %}
        {% include 'tags/product_thumbnail.html' %}
    {% empty %}
        No related products.
    {% endfor %}
    <div class="cb"><br /><br /></div>
    <div>
    	<hr />
    </div>
</div>

<div class="product-tags span4 pull-right">
    
    <h4>Product Tags</h4>

    <div id="tags">
        {% for tag in product.tags %}
        {% include 'catalog/tag_link.html' %}
        {% endfor %}
    </div>
    <br />
    {% if request.user.is_authenticated %}
    <form id="tag" action="{% url catalog_product_add_tag %}" method="post">
        
        <div class="input-append">
            <label for="id_tag">
            {% trans "Tag this product (must be at least three characters)" %}:
            </label>
            <br />
            <input id="id_slug" name="id_slug" value="{{ product.slug }}" type="hidden" />
            <input id="id_tag" name="id_tag"type="text" value="your tag here" maxlength="50" autocomplete="on"/>
            <input id="add_tag" class="btn btn-warning btn-muted" type="submit" value="Tag It"  />
        </div>
    </form>
    {% else %}
    <a href="{% url accounts_log_in %}?next={{ request.path }}">
    Log in to tag this product.
    </a>
    {% endif %}
    <div class="cb"><br /><br /></div>
</div>


<div class="reviews span4 pull-right">
    <h4>Product Reviews</h4>
    {% if request.user.is_authenticated %}
    <button class="btn btn-primary" data-toggle="collapse" data-target="#review_form" data-original-title="" title="">
        {% trans "Write a review." %}
    </button>
    <div id="review_form" class="collapse" style="height: auto;">
        <form id="review" class="form-horisontal" action="{% url catalog_product_add_review %}" method="post">
            <div id="review_errors"></div>
            
                {{ review_form.as_p }}
                
                <input id="id_slug" name="id_slug" value="{{ product.slug }}" type="hidden" />
                <input id="submit_review" class="btn btn-warning" value="Submit" type="submit" />
                <a href="javascript:void(0);" class="btn btn-warning" id="cancel_review">Cancel</a>
                       
        </form>
    </div>
    
    {% else %}
    <a href="{% url accounts_log_in %}?next={{ request.path }}">
    Log in to write your own review.
    </a>
    {% endif %}

    <div class="cb"><br /><br /></div>

    {% include page_template %}
    <div class="cb"><br /><br /></div>
</div>

<div class="span7 disqus-comments">
    <br /><br />
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tradenplay'; // required: replace example with your forum shortname
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>


</div>
{% endblock %}

{% block js %}
{{ block.super }}
<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="{{ STATIC_URL }}js/endless-pagination.js"></script>
<script>
    $.endlessPaginate({paginateOnScroll: false});
    $('#review_form').on('hidden')
</script>
{% endblock %}                    