{% extends "common_templates/catalog.html" %}
{% load i18n %}

{% load catalog_filters %}

{% block content %}
<div xmlns:v="http://rdf.data-vocabulary.org/#" about="{{ product.get_absolute_url }}" typeof="v:Product">
    <div class="product_image" >
        <img class="resizable_image"src="{{ product.image_url }}" alt="{{ product.name }}" />
        <br />
        {{ product.image_caption }}
    </div>
    <h1><span property="v:name">{{ product.name }}</span></h1>
    Brand: <em><span property="v:brand">{{ product.brand }}<span></em>
        <br /><br />
        SKU: {{ product.sku }}
        <br />
        In categor{{ categories.count|pluralize:"y,ies" }}: 
        {% for c in categories %}
        <a href="{{ c.get_absolute_url }}">
        <span property="v:category">
            {{ c.name }}
        </span>
        </a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
        <br /><br />
        {% if product.sale_price %}
        Was: <del>{{ product.old_price|currency }}</del>
        <br />
        Now: <span property="v:price">{{ product.price|currency }}</span>
        {% else %}
        Price: <span property="v:price">{{ product.price|currency }}</span>
        {% endif %}
        <br /><br />
        <form method="post" action="." class="cart">
            {{ form.as_p }}
            <br />
            <input type="submit" value="Add To Cart" name="submit" alt="Add To Cart" />
        </form>
        <div class="cb"><br /><br /></div>
        <h3>Related Products</h3>
        {% for p in product.cross_sells_hybrid %}
        {% include 'tags/product_thumbnail.html' %}
        {% empty %}
        No related products.
        {% endfor %}
        <div class="cb"><br /><br /></div>
        <h3>Product Description</h3>
        <span property="v:description">{{ product.description }}</span>
        
    </div>
    
    
	<div class="cb"><br /><br /></div>
	<h3>Product Tags</h3>
    
    <div id="tags">
        {% for tag in product.tags %}
        {% include 'catalog/tag_link.html' %}
        {% endfor %}
    </div>
    <br />
    {% if request.user.is_authenticated %}
    <form id="tag" action="{% url catalog_product_add_tag %}" method="post">
        
        <label for="id_tag">
            {% trans "Tag this product (must be at least three characters)" %}:
        </label>
        <br />
        <input id="id_slug" name="id_slug" value="{{ product.slug }}" type="hidden" />
        <input id="id_tag" name="id_tag"type="text" value="your tag here" maxlength="50" autocomplete="on"/>
        <input id="add_tag" type="submit" value="Tag It"  />
    </form>
    {% else %}
    <a href="{% url accounts_log_in %}?next={{ request.path }}">
    Log in to tag this product.
    </a>
    {% endif %}
	<div class="cb"><br /><br /></div>
	<h3>Product Reviews</h3>
    {% if request.user.is_authenticated %}
    <a id="add_review">Write a Review</a>
	<div id="review_form">
        <form id="review" action="{% url catalog_product_add_review %}" method="post">
            <div id="review_errors"></div>
            <table>
                {{ review_form.as_table }}
                <tbody>
                    <tr>
                        <td colspan="2">
                            <input id="id_slug" name="id_slug" value="{{ product.slug }}" type="hidden" />
                            <input id="submit_review" value="Submit" type="submit" />
                            <a href="javascript:void(0);" id="cancel_review">Cancel</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    {% else %}
    <a href="{% url accounts_log_in %}?next={{ request.path }}">
    Log in to write your own review.
    </a>
    {% endif %}
    
    <div class="cb"><br /><br /></div>
    
    {% include page_template %}
    <div class="cb"><br /><br /></div>
    
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'tradenplay'; // required: replace example with your forum shortname
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
    
    {% endblock %}
    
    {% block js %}
    {{ block.super }}
    <!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
    <script src="{{ STATIC_URL }}js/endless-pagination.js"></script>
    <script>$.endlessPaginate({paginateOnScroll: false});</script>
    {% endblock %}    